p#download {
	width:80%;
}

div#dl_button_container,
div#dl_button_container ul {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

div#dl_button_container li {
    margin-top: 5px;
}
div#dl_button_container {
    width: 200px;
}
h1, h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

div#home_mission h1,
div#home_mission h2 {
	margin-bottom: 0px;
	margin-top: 0px;
}
div#dl_button_container h2 {
    margin-bottom: 1px;
    margin-top: 1px;
}

div#dl_button_container {
	border-left: 1px dotted #ddd;
	padding-left: 20px;
	margin-left: 20px;
}

div#dl_button_container span.small {
	padding-top: 5px;
	font-size: 75%;
	float: right;
}

div#dl_button_container ul {
	float: left;
}

ul li {
	margin-bottom: 3px;
}


div#dl_notify{
	font-family: Arial, Helvetica, sans-serif;
	/*background-image:url("images/green-grad.jpg");*/
	height: 70px;
	width: 252px;
	float: right;
}

div#dl_notify a{
	text-decoration: none;
	color: #FFF;
}


table#dl_button.inactive {
	background-image:url("../images/invest_grad_inactive.jpg");
	background-repeat: repeat-x;
}	

table#dl_button.active {
	background-image:url("../images/invest_grad_active.jpg");
	background-repeat: repeat-x;
}


table#dl_button {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 100%;

}

table.model_table {
    border: 1px solid black;
}

table.model_table th {
    border-bottom: 1px solid black;
}

table.model_table td.model_name {
    font-weight: bold;
    text-align: right;
}

table.model_table td.choice {
    text-align: center;
}


img#dl_arrow {
	padding-top: 5px;
	float:left;
}

div#dl_notify a:hover{
	color: #AAA;
}

#dl_notify span.invest_dl {
	position: relative;
	top:5px;
}

#dl_notify h1.invest_dl {
	padding-right: 5px;
}

#content #story_4 {
    margin-left: 10px;
}

#content #story_4 #sysreq li{
	margin-left: 20px;
}

#content #story_4 .invest_dl{
	color: white;
	padding-right: 5px;
}

#dl_button_container #doc_link{
    width: 100%;
    background-color: blue;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-decoration: none;
	background-image:url("../images/book_grad_inactive.jpg");
    background-repeat: repeat-x;
}

#dl_button_container #doc_link:hover {
	background-image:url("../images/book_grad_active.jpg");
}

#dl_button_container #doc_link img {
    padding-left: 10px;
    padding-right: 20px;
}

#dl_button_container #doc_link span{
    font-weight: bold;
    font-size: 1.1em;
}

