div#banner a {
  position: absolute;
  height: 77px;
  width: 84px;
  top: 10px; 
  left: 14px;
  text-decoration: none;
  background: url(../images/NCPlogo.gif);
  }

div#banner a i
	{
	visibility: hidden; 
	}

div#menu {
	width: 755px;
	height: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
	font-weight: bold;
	margin: 0 auto;
	background-color:#661100;
	display: block;
}

div#menu a,div#menu ul,div#menu li {
z-index: 999;
}

div#menu a {
	text-decoration: none;
}


#nav {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style: none;
	background-color:#661100;
	text-align: center;
}

#nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style: none;
	background-color:#661100;
	text-align: left;
}

#nav li a {
	display: block;
	margin: 5px 0 5px 10px; 
	padding: 0 2em 0 2em;
/*	width: 11em;*/
	color: #FFFFFF;
	text-decoration: none;
	text-align: left;
}

#nav a:hover {
	color: #000000;
}

#nav li {
	background-color:#661100;
	float: left;
/*	width: 12em;*/
}

#nav li ul {
	position: absolute;
	width: 14em;
	left: -999em; 
}
#nav li ul li a {
  text-align: left;
}

#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
}

a {
    outline: none;
  }

