Options +Includes
AddType text/html .html
AddOutputFilter INCLUDES .html
AddDefaultCharset UTF-8

<FilesMatch "\.(jpg|jpeg|png|gif|css|js)$">
    Header set Cache-Control "max-age=120, public"
</FilesMatch>
