/* CSS Document */

*
    {
    margin:  0;
    padding: 0;
    }

body
    {
    background-color: #000000;
    font-size: 78%;
    }

div#spacer
    {
    height: 30px;
    }

div#container
    {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width:  755px;
    background-color: #FFFFFF;
    }

div#container hr.clearboth
    {
    display: none;
    clear: both;
    }

div#banner { }

div#breadcrumb
    {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7em;
    color:     #666666;
    margin:    .7em;
    clear:     left;
    }

div#content { }

div#left_column
    {
    height: 470px;
    width: 200px;
    float: left;
    }
	
div#left_column a
	{
	text-decoration: none;
	outline: none;
	border: none;
	}
	
div#left_column img
	{
	border: none;
	}

div#pullquote
    {
    padding: 10px;
    margin: 80px 10px 0 10px;
    background-color: #e1e6e3;
    color:  #666666;
    }

div#about_pullquote
    {
    padding: 10px;
    margin: 40px 10px 10px 10px;
    background-color: #e1e6e3;
    color:  #666666;
    }

div#toolbox_pullquote
    {
    padding: 10px;
    margin: 40px 10px 10px 10px;
    background-color: #e1e6e3;
    color:  #666666;
    }

div#pullquote h2
    {
    color:     #990000;
    font-size: 1.5em;
    }

div#pullquote p
	{
	margin: 0 0 1em 0;
	}

div#pullquote ul
    {
    list-style-type: disk;
    font-size: 1.2em;
	margin: 0 0 0 10px
    }

ul#toolbox 
	{
	list-style-type: disk;
	margin: 10px 0px 0px 20px;
	font-size: 1.1em;
	}

div#content #story 
	{
	height: 470px;
	padding: 0 20px 0 0;
    overflow: auto;
	overflow-y: scroll; 
	overflow-x: none;
	}

div#content #story h1
    {
    color: #990000;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.8em;
    }
	
div#content #story h2
    {
    color: #990000;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.3em;
    }
	
div#content #story h3
    {
    color: #990000;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.1em;
    }	

div#content #story p
    {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin:    .5em 0 .5em 0;
	line-height: 1.3em;
    }

div#content #story p.name 
	{
	font-weight: bold;
	margin: 1em 0 .5em 0;
	}

div#content #story #photo1
    {
    float:  right;
    margin: 10px 10px 0 10px;
    }

div#content #story .photo_left
    {
    float:  left;
    margin: 10px 10px 0 10px;
    }

div#content #story .photo_right
    {
    float:  right;
    margin: 5px 10px 5px 10px;
    }
	
div#content #story .caption
	{
	font-family:"Times New Roman", Times, serif;
	font-size: 1em;
	}

div#content #story ul
    {
    list-style: none;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 1.3em;
    font-size: 1.1em;
    }

div#content #story #key_features
	{
	list-style:disc;
	font-family:Arial, Helvetica, sans-serif;
	margin: 10px 10px 10px 30px;
	}
	
div#content #story ol
	{
	margin: 10px 10px 10px 30px;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 1.3em;
    font-size: 1.1em;
	}
	
div#footer
    {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    background-color: #000000;
    color:     #FFFFFF;
    margin:    9px 0 0 0;
    }
